<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    body {
        background-color: #272b34;
        font-family: 'Khula', sans-serif;
        font-weight: 300;
        color: white;
        line-height: 1em;
        margin: 0;
        padding: 2em 1em;
    }
</style>
<body>
    <h1>Representing {{ fname }} in clusters plot</h1>
    <br>
    <div id='chart' class='chart'”></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    var config = {responsive: true};
    Plotly.plot('chart',graphs,config, {});
</script>
</html>